
<!DOCTYPE html>
<html lang="en">
<head>
	<title>First Information Report</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->

<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util2.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main2.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="{{ url_for('static', filename='jquery/jquery-3.2.1.min.js') }}"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" id = "FIR">
				<span class="contact100-form-title">
					Criminal Report
				</span>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
					<span class="label-input100">First Name *</span>
					<input class="input100" type="text" name="fullname" placeholder="Enter Your Full Name">
				</div>
				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type FIR No">
					<span class="label-input100">Fir Number*</span>
					<input class="input100" type="text" name="firnumber" placeholder="Enter 7 digit FIR Number">
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">Email *</span>
					<input class="input100" type="text" name="email" placeholder="Enter Yur Email ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Phone</span>
					<input class="input100" type="text" name="phonenumber" placeholder="Enter 10 digit Phone">
				</div>
	
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Employment</span>
					<input class="input100" type="text" name="empdetails" placeholder="Enter Employment Details">
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Field Interview Score</span>
					<input class="input100" type="text" name="interviewscore" placeholder="Enter Field Interview Score">
				</div>

				<div class = "wrap-input100">
					<span class ="label-input100">Select as Applicable</span>
					<input type = "radio", value = "Political" name = "influence"><label for="Drugs"> Political</label>
					<input type = "radio", value = "Int_Crim" name = "influence"><label for="Alcohol">International Criminal</label>
					<input type = "radio", value = "Normal" name = "danger"><label for="Gun"> Normal Citizen</label>
					<input type = "radio", value = "Gang" name = "danger"><label for="Gang"> Gang member</label>
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Latitude</span>
					<input class="input100" type="text" name="latitude" placeholder="Enter Latitude">
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Longitude</span>
					<input class="input100" type="text" name="longitude" placeholder="Enter Longitude">
				</div>

				<div id ="crime_div" class = " wrap-input100">
					<h3 align="center"> Enter the crime details</h3>
					<div class="wrap-input100">
					<span class="label-input100">Offense in brief</span>
					<button class="btn-lg btn-primary btn-sm right " name = "add" id ="add" align = "right">Add crime</i></button>
					<input class="input100" type="text" name="crime" id ="crime">
				</div>
					
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type = "submit" name = "submitform">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div> 
	</div>



<!--===============================================================================================-->
	
<!--===============================================================================================-->

<!--===============================================================================================-->
<script>

		$(document).ready(function() {
    var wrapper = $("#crime_div");
    var add_button = $("#add");

    $(add_button).click(function(e) {
        e.preventDefault();
        console.log('Smit')
            $(wrapper).append('<div class="wrap-input100 bg1"> <span class="label-input100">Offense in brief</span><input class="input100" type="text" name="crime" id ="crime"></div>')
    });
}); 

const form = document.getElementById('FIR')
form.addEventListener('submit', () => {
	var crimes = [];
    $("#crime_div :text").each(function(){
        crimes.push($(this).val());
    });
	console.log(crimes)
	console.log('Patel')
	var object = {};
	let formData = new FormData(form)
	formData.forEach((value, key) => object[key] = value);
$.ajax({
    type: "POST",
    url: "{{ url_for("form") }}",
    contentType: "application/json",
    data: JSON.stringify({crimes: crimes, object: object}),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});
})

</script>

	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>
</html>

